table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto; /* Centrado automático */
}
td {
    border: 2px solid white;
    padding: 8px;
    text-align: left;
    color: black;
    width: 33.33%; /* Ancho fijo para que todos sean del mismo tamaño */
   
}
th {
    background-color:#1E90FF ;
    padding: 8px;
    color: white;
}
h2 {
    text-align: center;
}
td, th {
    text-align: center; /* Centra el contenido de las celdas */
}

.container {
    margin: 0; 
    text-align: center;
}
.opciones a {
    font-size: 18px; 
    color: white; 
    margin: 10px;
    text-decoration: none;
}
.opciones {
    margin-left: auto; 
}

body {
    background-color: #DFE0FF;
    font-family: 'Arial', sans-serif; 
    height: 100vh;
    margin: 0; 
    display: flex;
    flex-direction: column; /* Cambia a columna para que header y container estén uno debajo del otro */
}

header {
    display: flex;
    align-items: center; /* Centra verticalmente el logo */
    height: 70px; /* Altura del header */
    background-color: #5184DC; /* Color de fondo del header */
    padding: 0 20px; /* Espaciado en los lados */
}

.logo {
    display: flex;
}

.logo img {
    height: 50px; /* Ajusta la altura del logo */
}